/* 
 * Project 4: Website Development and Deployment
 * Caleb Mustapha
 * Created 8-07-24
 */
/*
 * Helpful css resources consulted:
    * https://stackoverflow.com/questions/16374068/stop-wide-image-from-producing-horizontal-scrollbar
    *
    *
    *
 */
html,
body,
section,
p,
header,
nav,
footer,
div,
article,
aside,
ol,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Archivo;
}
main a {
  color: blue;
  text-decoration: default;
}
span {
  color: #c60f0f;
  font-weight: bold;
}

/* MAIN CONTENT SECTION */
main {
  background-color: white;
  width: 70%;

  padding: 30px;
  margin: 0 auto 0 auto;
}
main h2 {
  color: black;
  font-size: 35px;
  padding: 10px;
  margin: 20px 0 0 0;
  border: 1.5px solid black;
}
main section {
  /* font-size: 17px; */
  letter-spacing: 1px;
  word-spacing: 3px;

  padding: 30px;
  margin-bottom: 30px;
  border: 1.5px solid black;
  border-top: none;
}

/* ARTICLES SECTION */
section {
  background-color: rgb(177, 177, 177);
}

/* EACH ARTICLE */
article:not(:first-child) {
  background-color: white;
  border: 2px solid rgb(129, 129, 129);
  margin: 20px 0 20px 0;
  padding: 20px;

  height: 250px;
}
article h3 {
  color: black;
}
article h3 a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.3s;
}
article h3 a:hover {
  text-decoration-color: black;
}
article .info {
  font-style: italic;
  /* color: #4c4c4c; */

  margin: 10px 0 10px 0;
}
article .content {
  color: #4c4c4c;
}
article:not(:first-child) img {
  float: right;
  width: 300px;

  /* with % the parent element must have an explicitly defined height */
  height: 100%;
  object-fit: cover;
  padding-left: 20px;
}

/* FIRST ARTICLE */
article:first-child img {
  width: 100%;
}

footer {
  margin-top: 400px;
  background-color: yellow;
}
