
.Uncategorized {
        
	background-color: #999999;
        
	color: #4f4f4f;

        
	width: fit-content;
        
	padding: 10px;
        
	border-radius: 5px;
    }
.Mindset {
        
	background-color: #795A90;
        
	color: #FFFFFF;

        
	width: fit-content;
        
	padding: 10px;
        
	border-radius: 5px;
    }
.Practice {
        
	background-color: #1DA51D;
        
	color: #FFFFFF;

        
	width: fit-content;
        
	padding: 10px;
        
	border-radius: 5px;
    }
.Reflection {
        
	background-color: #0b5380;
        
	color: #FFFFFF;

        
	width: fit-content;
        
	padding: 10px;
        
	border-radius: 5px;
    }